body { background-color: #fff; color: #333; }

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}
h1 { font-size: 24px; }
header {float:left; margin: 0 50px 50px  50px; width:800px;}

header h1 { 
  text-indent: -5000px; 
  background: url(/images/logo.png) no-repeat;
  height:55px;
  width:177px;
}
section {float:left; height:100%;}

footer  { 
  float:left;
  position:absolute;
  bottom:0; 
  clear:both; height:50px; width:100%; 
  background-color:#777;
}

#main {float:left; margin-right:50px; margin-bottom:30px;}
#main ul { display:inline;}
#main li { display:inline; list-style:none;}
#main a { text-decoration:none;}
#main a:hover { color:#5599ff; }

.recipe { margin: 10px 50px 10px 50px; }
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #000; }
a:visited { color: #666; }
a:hover { color: #fff;  }

div.field, div.actions {
  margin-bottom: 10px;
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display:block;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}
